<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h3>Booking Spider-Man: No Way Home</h3>
    
    <div>
      <form action="/action_page.php">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Your name..">
    
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
    
        <label for="tickets-total">Tickets Total</label>
        <input type="text" id="tickets-total" name="tickets-total" placeholder="Tickets Total..">
      
        <input type="submit" value="Submit">
      </form>
    </div>
    
    </body>
</html>