<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h3>Booking Spider-Man: No Way Home</h3>
    
    <div>
      <form id="submit" method="POST" action="/">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="tickets-total">Tickets Total</label>
        <input type="text" id="tickets-total" name="tickets_total" placeholder="Tickets Total..">

        
      
        <input type="submit" value="Submit">
      </form>
    </div>

    <script>
      document.getElementById('submit').reset()
    </script>
      
    </body>
</html>